# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/
data/splits/

# Large trained model files
*.keras
*.h5
*.hdf5

# OS files
.DS_Store
Thumbs.db

# VS Code local settings
.vscode/